extends layout

block content
    h1= title 
    
    form(method='POST' action='')
        div.form-group
            label(for='book') Book:
            if book_list
                select#book.form-control(type='select' placeholder='Select book' name='book' required='true') 
                    - book_list.sort(function(a,b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                    for book in book_list
                        if bookinstance
                            option(value=book._id selected=(bookinstance.book.toString()===book._id.toString() ? 'selected' : false)) #{book.title}
                        else
                            option(value=book._id) #{book.title}
            else
                input#book.form-control(type='hidden' name='book' required='true' value=(undefined===bookinstance ? '' : bookinstance.book._id))
                input#book_title.form-control(type='text' placeholder='Select book' name='book_title' required='true' readonly='true' value=(undefined===bookinstance ? '' : bookinstance.book.title))

        
        div.form-group
            label(for='imprint') Imprint:
            input#imprint.form-control(type='text' placeholder='Publisher and date information (as Publisher, Year)' name='imprint' required='true' value=(undefined===bookinstance ? '' : bookinstance.imprint))
        div.form-group
            label(for='due_back') Date when book will be available:
            input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_formatted_date_picker))
        
        div.form-group
            label(for='status') Status:
            select#status.form-control(type='select' placeholder='Select copy status' name='status' required='true')
                if bookinstance
                    option(value='Available' selected=(bookinstance.status==='Available' ? 'selected' : false)) Available
                    option(value='Maintenance' selected=(bookinstance.status==='Maintenance' ? 'selected' : false)) In Maintenance
                    option(value='Loaned' selected=(bookinstance.status==='Loaned' ? 'selected' : false)) Loaned
                    option(value='Reserved' selected=(bookinstance.status==='Reserved' ? 'selected' : false)) Reserved
                else
                    option(value='Available') Available
                    option(value='Maintenance') In Maintenance
                    option(value='Loaned') Loaned
                    option(value='Reserved') Reserved

                
        
        if bookinstance
            button.bth.btn-primary(type='submit') Update Copy
        else
            button.bth.btn-primary(type='submit') Create New Copy
        
    if errors
        ul
            for error in errors
                li!= error.msg
            